/* ===== About Content ===== */
main {
  flex: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about-container {
  background: var(--bg-color);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  text-align: center;
  position: relative;
}

.about-container h1 {
  color: var(--text-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-color);
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color:var(--primary-color);
  font-weight: 600;
}
.back:hover {
  color: #8a0b0b;
}
